<!DOCTYPE html>
  <head>
        <meta charset="utf-8">
        <title>SQRL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="global.css">
        <script src="socket.io.js" type="text/javascript"></script>
        <script src="qrcode.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>

  <div class="qr">
      <p class="nonce"><%= nonce %></p>
      <a id="qrcode" href="<%= url %>">
      </a>
      <h3 style="text-align: center">
          Click or Scan the QRCode
      </h3>
        <button id="reload"type="button">Reload Page</button> 
  </div>
  <div class="results">
      <div id="message" style="font-size: 25px; font-weight: bold; color: green; "></div>
      <table id="results" border="2" cellpadding="5"></table>
  </div>
  <script type="text/javascript">

        var QRElem = document.getElementById('qrcode');
        var QROptions = {
            text: QRElem.href,
            correctLevel: QRCode.CorrectLevel.L
        };
        var code = new QRCode(QRElem , QROptions);

        var socket = io.connect('http://localhost:9090');
        var data = "<%= nonce %>"
        socket.emit('register', {data: data});
        $("#reload").click(function(){
            location.reload();
        });
        $("#qrcode").click(function(){
            $("table#results").html("");
        });
        socket.on('response', function (data) {
                if (data['status'] == true) {
                    $("#message").css('color', "green");
                } else {
                    $("#message").css('color', "red");
                }
                $("#message").html(data['result']);
            var responses = data['response'];
            $('<th><tr style="font-weight: bold"><td>Name</td><td>Value</td><td>Results</td></tr></th>').appendTo("table#results");
            for (var i in responses) {
                $('<tr><td style="font-weight: bold">' + responses[i]['name'] + '</td><td>' + responses[i]['value'] + '</td><td style="width: 216px">' + responses[i]['result'] + '</td></tr>').appendTo("table#results");
            }
        });

    </script>
  </body>
</html>
