div.qr {
  width: 256px;
  float: left;
  padding-right: 20px;
}

div.results {
  float: left;
  width: 64%;
}

td {
  width: 100px;
  word-wrap: break-word;
}

p.nonce {
  font-size: small;
  text-align: center;
}
